<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="angular.js"></script>
        <script type="text/javascript" src="popup.js"></script>
        
        <link rel="stylesheet" href="popup.css">
    </head>
    <body>
        <div ng-controller="myController">
            <p>Foo: {{bar}}</p>
            <p>
                direct: {{directHello}}<br>
                local proxy: {{localHello}}<br>
                bg proxy: {{bgProxyHello}}<br>
                bg function: {{bgFunctionHello}}
            </p>
            <hr />
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br><br>
            Full Name: {{firstName + " " + lastName}}
        </div>
    </body>
</html>